body {
    color: rgb(248, 173, 185);
    background: white;
    margin: 0px;
    font-family: "Amatic SC", sans-serif;
}

header {
    border-bottom: solid 2px pink;
    padding: 20px;
    font-size: 35px;
    color: pink;
}

.chamada {
    background: rgb(245, 245, 202);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

div {
    margin-right: 20px;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 60px;
  }

  p {
    font-size: 30px;
  }

  img {
    height: 200px;
  }

  .categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
  }
  
  section {
    padding-left: 20px;
    padding-right: 20px;
  }

  section {
    padding-left: 20px;
    padding-right: 20px;
  }

  /* código omitido */

.categoria {
  padding-left: 20px;
  padding-right: 20px;
}

.categoria-videos img {
  opacity: 0.5;
  height: 200px;
}

.categoria-videos img:hover {
  opacity: 1.0;
  border: 1px solid palevioletred;
}